.BannerBackground
{
    background-color: #0C0C0C;
}

.BannerFont {
    font-family: "Arial Black", sans-serif;
    font-size: 0.75em;
    letter-spacing: -0.5px;
    color: #eae9e0;
    font-weight: bold;
    float: "right";
  }
